**/.dockerignore
**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/obj
**/out
**/TestResults
**/node_modules
**/.DS_Store
**/appsettings.*.json
!**/appsettings.json
**/Dockerfile*
**/docker-compose*
**/.env
**/*.md
!IMPLEMENTATION.md
docs/
violations/
fit-functions/
tests/
